.folder_cell,
.article_cell{
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: #434343
  }
  #article-delete,
  #article-edit,
  #folder-delete,
  #folder-edit{
    color: blue;
    text-decoration: underline;
    align-self: flex-end;
  }
}

.folder_cell-title,
.article_cell-title{
  padding: 0 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ff6347;
  h2{ color: white; margin-top: 12px; margin-bottom: 12px;}
}
.folder_cell-body,
.article_cell-body{
  padding: 0 1em;
  flex: 1 1 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  .article-date{
    display: inline-block;
    text-align: right;
    vertical-align: bottom;
    margin-bottom: 0em;
    background-clip: content-box;
  }
}
.folder_cell-title{
  background-color: lightgreen;
}
