.article_cell{
  a{
    text-decoration: none;
    color: black;
  }
  
  a:hover{
    color: #434343
  }
  #article-delete,
  #article-edit{
    color: blue;
    text-decoration: underline;
    align-self: flex-end;
  }
}

.article_cell-title{
  padding: 0 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: lightgreen;
  h2{ color: white; margin-top: 12px; margin-bottom: 12px;}
}
.article_cell-body{
  padding: 0 1em;
  flex: 1 1 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  .article-date{
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 1em;
    background-clip: content-box;
    background-color: lightblue;
    margin: 0 -1em;
  }
}
