.article{
  display: flex;
  flex-flow: column nowrap;
  
  margin: 2%;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content{
  display: block;
  margin: 2% 5%;
}

@media all and (max-width: $mobile-width){
  .article{
    margin: 0;
    padding: 0px;
  }
}