.base-form{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  padding-top: 32px;
  padding-left: 128px;
}

.base-form input{
  padding: 3px;
}

input[type="text"],
textarea,
select{
  margin: 0 0 10px 0;
}