.base-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.base-form input{
  padding: 3px;
}

input[type="text"],
textarea,
select{
  margin: 0 0 10px 0;
}