.container{
  margin-left: 11%;
  margin-right: 11%;
  
  padding: 2em 1em;
}
.flex-container {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  
  ul{
    margin: 0;
    -webkit-padding-start: 0px !important; 
  }
}

@media all and (max-width: $mobile-width){
  .flex-container,
  .container{
    margin: 0px;
  }
}