.grid{
  display: flex;
  flex-wrap: wrap;
}

.grid_cell{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.grid-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid_cell--content{
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 100%;
  //padding: 1em;
}

.grid_cell--content{
  p{
    flex: 1 0 auto;
  }
}

.grid-1-3{
  .grid_cell{
    width: 33.33%;
  }
}

.grid-1-2{
  .grid_cell{
    width: 50%;
  }
}

.grid-1-4{
  .grid_cell{
    width: 25%;
  }
}

.grid-2-3 > .grid_cell{
    width: 66.66%;
}

.grid--center{
  justify-content: center;
}

@media all and (max-width: $mobile-width){
  .grid{
    flex-flow: column nowrap;
    justify-content: center;
    
   .grid_cell{
      width: 100%;
    }
  }
}