.main-nav,
.acc-nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.main-nav{
  padding: 10px;
  background-color: blue;
}
.main-nav a{
  color: white;
}
.main-nav a,
.acc-nav a{
  text-decoration: none;
  padding: 10px;
}

@media all and(max-width: 800px){
  .main-nav{
    justify-content: space-around;
  }
}

@media all and(max-width: 400px){
  .main-nav{
    flex-flow: column wrap;
  }
  
  .main-nav a{
    text-align: center;
    padding: 8px;
  }
}