$mobile-width: 768px;

body{
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #E3E3E3;
  margin: 0;
  ul{
    margin: 0;
    -webkit-padding-start: 0px !important; 
  }
}